#pewPewCanvas {
  background-image: url(/assets/img/grass.png);
  background-size: contain;
}
#startMenu {
  width: 850px;
  height: 600px;
  background-color: #5eb054;
  text-align: center;
}
#results {
  width: 300px;
  height: 250px;
  border: 1px solid red;
}
.rowBonus {
  width: 300px;
  border: 1px solid black;
}
.titleBonus {
  width: 150px;
  text-align: right;
  color: black;
  border: 1px solid blue;
}
.scoreBonus {
  width: 150px;
  text-align: left;
  color: white;
  border: 1px solid green;
}
